NITRO_PORT=8014
NUXT_APP_BASE_URL=/
NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000/
NUXT_PUBLIC_SITE_TITLE='Test Looking Glass'

NUXT_PUBLIC_MAX_LOCS_PING=3
NUXT_PUBLIC_MAX_DEST_PING=5
NUXT_PUBLIC_MAX_LOCS_BGP=3
NUXT_PUBLIC_MAX_DEST_BGP=2

NUXT_PUBLIC_OUR_ASN=64512
